*{
    margin: 0;
    pad: 0;
}

body{
    background: linear-gradient(135deg,red,blue);
    height: 100vh;
}
.firstline,.secondline{
    display: flex;
    gap: 1rem;
    padding-left: 7rem;
    padding-top: 3rem;
    font-family:sans-serif;
    
}

.heading{
    padding: 7rem;
    /* background-color: bisque; */
    color: white;
}
.heading>h1{
    font-size: 3rem;
    font-weight: 50;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

.heading>p{
    font-size: smaller;
}
.coundown{
    color: rgb(228, 224, 224);
}