*{
    margin: 0;
    pad: 0;
}


.firstline,.secondline{
    display: flex;
    gap: 2rem;
    padding-left: 7rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    background-color: aqua;
    font-family:sans-serif;
}

.heading{
    padding: 7rem;
    background-color: bisque;
    color: red;
}
.heading>h1{
    font-size: 3rem;
    font-weight: 50;
    font-family: 'Gill Sans', 'Gill Sans MT';
}

.heading>p{
    font-size: smaller;
}